@import "../fonts/font.scss";
@import "./color.scss";

.bg-green{
    background-color: $primary;
}

.bg-light-gray{
    background-color: $light-gray;
}

.capitalize{
    text-transform: uppercase;
}

.white{
    color: #FFFFFF;
}

.title{
    font-family: av-nxt-bold;
    font-size: 18px;
    line-height: 1.1;
}

.subtitle{
    font-family: av-nxt;
    font-size: 14px;
}

.content{
    font-family: av-nxt;
    font-size: 12px;
}

.caption{
    font-size: 12px;
}

a{
    cursor: pointer;
    color: $primary !important;
}

.news-description{
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    overflow: hidden;
    position: relative;

    max-height: 6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}
