<div class="row m-0">
    <div class="
    col-sm-12 col-md-12 col-lg-8 col-xl-8 pt-2 pb-2 pl-1 pr-1">
        <h5 class="capitalize bold border-bottom">News</h5>
        <div class="row text-center mt-3">
            <div class="col">
                <div class="title bold capitalize">
                    {{newsData.title}}
                </div>
                <div class="caption">
                    By {{newsData.author}} | {{extractDateFromStr(newsData.datetime)}}
                </div>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <div class="news-photo">
                    <img [src]="'http://developergadogado.xyz/mantapp/'+newsData.image">
                </div>
            </div>
        </div>
        <div class="row text-left mt-3">
            <div class="col news-content text-justify" [innerHTML]="getSanitizedContent(newsData.content)">

            </div>
        </div>
    </div>
    <div class="
    col-sm-12 col-md-12 col-lg-4 col-xl-4 border-top">
        <h5 class="capitalize bold mt-2 mb-3">news archive</h5>
        <div class="row mb-3" *ngFor="let item of otherNews | slice:0:3">
            <div class="col-6">
                <div class="news-photo-small">
                    <img [src]="'http://developergadogado.xyz/mantapp/'+item.image">
                </div>
            </div>
            <div class="col-6">
                <div class="title bold">
                    {{item.title}}
                </div>
                <div class="content text-justify"
                style="max-height: 48pt; text-overflow: ellipsis; overflow: hidden;"
                [innerHTML]="getSanitizedContent(item.content)">
                    
                </div>
                <a class="caption" routerLink="/news/detail/{{item.id}}">selengkapnya ></a>
            </div>
        </div>
    </div>
</div>