<h5 class="capitalize bold">News</h5>

<div class="row pb-3" *ngFor="let item of listOfNews | slice : 0: slice; let i = index">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <div class="mb-2 card">
            <img [src]="'http://developergadogado.xyz/mantapp/'+item.image">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
       <div class="title">
            {{item.title}}
       </div>
       <div class="subtitle">
            by {{item.author}}  |  {{extractDateFromStr(item.datetime)}}z
        </div>
        <div class="content pb-2" [innerHTML]="item.content"  style="height: 108pt; overflow: hidden; text-overflow: ellipsis;">

        </div>
        <div class="text-primary caption" routerLink="/news/detail/{{i}}">
            <a>selengkapnya ></a>
        </div>
    </div>
</div>
<a>
    <h6 class="bold text-right" (click)="slice = listOfNews.length">More ></h6>
</a>