<div class="row m-0 footer pt-3 pb-4">
    <div class="m-0
    col-sm-12 col-md-12 col-lg-4 col-xl-4
    ">
        <div class="row w-100 p-0 d-flex align-items-center">
            <div class="col-auto">
                <div class="company-logo-wrapper">
                    <div class="company-logo">
                        <img src="/assets/pictures/logo/logo_x2.png">
                   </div>
                </div>
            </div>
            <div class="col pl-0">
                <div class="title white">
                    Radio Sinfoni 107.8 FM 
                    UIN Mataram
                </div>
                <div class="cristalistic white">
                    The Voice of Campus
                </div>
            </div>
        </div>
        <div class="row pl-2">
            <div class="col-6 bold white" *ngFor="let item of links">
                {{item.name}}
            </div>
        </div>


    </div>
    <div class="m-0
    col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center
    ">
        <div>
            <img src="/assets/pictures/icons/appstore.png" style="cursor: pointer;">
        </div>
        <div>
            <img src="/assets/pictures/icons/gplay.png" style="cursor: pointer;">
        </div>
    </div>
    <div class="m-0
    col-sm-12 col-md-12 col-lg-4 col-xl-4 text-right
    ">
        <div class="row">
            <div class="col">
                T
            </div>
            <div class="col">
                F
            </div>
            <div class="col">
                C
            </div>
        </div>
        <div class="row ">
            <div class="col white" style="font-size: 11px;">
                © Copyright Radio Sinfoni 107.8 FM UIN Mataram 2020
            </div>
        </div>
    </div>

</div>

