<div class="row footer pt-3 pb-4">
    <div class="ml-3
    col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="row w-100 p-0 d-flex align-items-center">
            <div class="col-auto">
                <div class="company-logo-wrapper">
                    <div class="company-logo">
                        <img src="/assets/pictures/logo/logo_x2.png">
                   </div>
                </div>
            </div>
            <div class="col pl-0">
                <div class="title white">
                    Radio Sinfoni 107.8 FM 
                    UIN Mataram
                </div>
                <div class="cristalistic white" style="pointer-events: none;">
                    The Voice of Campus
                </div>
            </div>
        </div>
        <div class="row pl-2">
            <div class="col-6 bold white" style="cursor: pointer;" *ngFor="let item of links" [routerLink]="item.value">
                {{item.name}}
            </div>
        </div>


    </div>
    <div class="m-0
    col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center
    p-3
    ">
        <div class="align-self-center">
            <img src="/assets/pictures/icons/appstore.png" style="cursor: pointer; width: 150px; margin-bottom: 8pt;">
        </div>
        <div class="align-self-center">
            <img src="/assets/pictures/icons/gplay.png" style="cursor: pointer;  width: 150px;">
        </div>
    </div>
    <div class="
    mr-4
    col text-right
    ">
        <div class="row">
            <div class="col">
                T
            </div>
            <div class="col">
                F
            </div>
            <div class="col">
                C
            </div>
        </div>
        <div class="row">
            <div class="col white" style="font-size: 11px;">
                © Copyright Radio Sinfoni 107.8 FM UIN Mataram 2020
            </div>
        </div>
    </div>

</div>

