@import '../../assets/scss/color.scss';

@font-face {
    font-family: cristalistic;
    src: url(../../assets/fonts/cristalistic.ttf) format("truetype");
}

.cristalistic{
    font-family: cristalistic;
    font-size: 24px;
}

.footer{
    background-color: $dark;

    .company-logo-wrapper{
        min-height: 55pt;
        width: 55pt;
        padding: 5pt 5pt 5pt 5pt;
    
        .company-logo{
            margin: auto;
            height: 50pt;
            width: 50pt;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }

    .title{
        font-family: av-nxt-bold;
        font-size: 14px !important;
        line-height: 1.1;
    }
}
