<div class="row footer pt-3 pb-4">
    <div class="ml-3
    col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="row w-100 p-0 d-flex align-items-center">
            <div class="col-auto">
                <div class="company-logo-wrapper">
                    <div class="company-logo">
                        <img src="assets/pictures/logo/logo_x2.png">
                   </div>
                </div>
            </div>
            <div class="col pl-0">
                <div class="title white">
                    Radio Sinfoni 107.8 FM 
                    UIN Mataram
                </div>
                <div class="cristalistic white" style="pointer-events: none;">
                    The Voice of Campus
                </div>
            </div>
        </div>
        <div class="row pl-2">
            <div class="col-6 bold white" style="cursor: pointer;" *ngFor="let item of links" [routerLink]="item.value">
                {{item.name}}
            </div>
        </div>


    </div>
    <div class="m-0
    col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center
    p-3
    ">
        <div class="align-self-center">
            <img src="assets/pictures/icons/appstore.png" style="cursor: pointer; width: 150px; margin-bottom: 8pt;">
        </div>
        <div class="align-self-center">
            <img src="assets/pictures/icons/gplay.png" style="cursor: pointer;  width: 150px;">
        </div>
    </div>
    
    <div class="
    mr-4
    col text-right
    "
    [ngClass]="{'text-right': screenNotation >= 2, ' text-center': screenNotation < 2}">
        <div class="row pt-2 pb-5">
            <div class="col 
            d-flex"
            [ngClass]="{'justify-content-end': screenNotation >= 2, 'justify-content-center': screenNotation < 2}">
                <img class="social-logo mr-5"
                href="https://www.facebook.com/radiosinfoni/" target="_blank"
                src="assets/pictures/icons/fb.png">
                <img class="social-logo mr-5" src="assets/pictures/icons/tw.png">
                <img class="social-logo" src="assets/pictures/icons/ig.png">
            </div>
        </div>
        <div class="row pt-1">
            <div class="col white" style="font-size: 12px;">
                © Copyright Radio Sinfoni 107.8 FM UIN Mataram 2020
            </div>
        </div>
    </div>

</div>

