<div class="row d-flex justify-content-center">
    <div class="col
    pt-0
    col-sm-12 col-md-11 col-lg-10 col-xl-10 ">
        <header></header>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col
    col-sm-12 col-md-11 col-lg-10 col-xl-10">
        <div class="p-3"
        style="min-height: 80vh !important">
            <router-outlet ></router-outlet>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col
    col-sm-12 col-md-11 col-lg-10 col-xl-10 ">
        <footer></footer>
    </div>
</div>