
<div class="row pb-3">
    <div class="col-6 offset-3">
        <h5 class="capitalize bold text-center border-bottom">sign up</h5>
    </div>
</div>

<div class="row">
    <div class="
    col-sm-12 col-md-12 col-lg-6 col-xl-6 pb-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Natoque penatibus et magnis dis parturient montes nascetur ridiculus. Vestibulum lorem sed risus ultricies tristique nulla. Lacinia at quis risus sed vulputate odio. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Nulla pellentesque dignissim enim sit amet. Quis varius quam quisque id diam. Sit amet porttitor eget dolor morbi non arcu risus. Nibh sed pulvinar proin gravida hendrerit. Fames ac turpis egestas maecenas pharetra convallis posuere. Arcu ac tortor dignissim convallis aenean et tortor at risus. Sed odio morbi quis commodo odio aenean sed adipiscing diam. Turpis egestas zsed tempus urna et pharetra pharetra massa massa. Id aliquet lectus proin nibh nisl condimentum id 
    </div>
    <div class="
    col-sm-12 col-md-12 col-lg-6 col-xl-6 pt-2 pb-2 pl-3 pr-3">
        <form [formGroup]="registerForm" class="card w-100 pl-4 pr-4 pt-3 pb-3">
            <h5 class="capitalize bold">register</h5>
            <input class="form-control" formControlName="name" placeholder="Full Name">
            <input class="form-control" formControlName="email" type="email" placeholder="Email Address">
            <input class="form-control" formControlName="password" type="password" placeholder="Password">
            <input class="form-control" formControlName="password" type="password" placeholder="Retype Password">
            <div class="form-group">
                <h6 class="text-primary bold">Gender</h6>
                <div class="custom-control custom-radio custom-control-inline">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                    <label class="form-check-label" for="female">Female</label>
                </div>
            </div>
            <h6 class="text-primary bold">Birth Date</h6>
            <div class="form-inline">
                <input class="form-control mr-2" type="number" placeholder="Year" style="width: 144pt;">
                <input class="form-control mr-2" type="number"  placeholder="Month" style="width: 72pt;">
                <input class="form-control" type="number" placeholder="Date" style="width: 72pt;">
            </div>
            <input class="form-control" type="text" formControlName="phone" placeholder="Mobile Phone">
            <div class="custom-control custom-checkbox mb-1">
                <input type="checkbox" class="custom-control-input" id="customCheck1"
                formControlName="agree">
                <label class="custom-control-label" for="customCheck1">I agree to <a>terms and service</a></label>
            </div>
            <textarea class="form-control" placeholder="Your message here.."></textarea>
            <button class="mt-2 btn btn-primary btn-block" [disabled]="!registerForm.valid"
            (click)="register()">Send</button>
        </form>
    </div>
</div>