<header></header>
<div class="p-3">
    <div class="row mb-3">
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 pb-3">
            <h5 class="capitalize bold">Live-<span class="text-primary">now</span></h5>
            <div class="bg-light-gray">
                <img style="width: 100% !important;" src="/assets/pictures/placeholder/video.jpg">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 h-100">
            <div class="bg-green white capitalize bold p-1">
                <h5>live chat</h5>
            </div>
            <div class="bg-light-gray" style="height: 70vh;">
                sdkjhsdhkj
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="
        col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <div class="w-100 border-top pt-2 pb-4">
                <h5 class="capitalize bold">Live-<span class="text-primary">Schedule</span></h5>
                <div id="liveSchedule" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="/assets/pictures/placeholder/carousel.jpg" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="/assets/pictures/placeholder/carousel.jpg" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="/assets/pictures/placeholder/carousel.jpg" alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#liveSchedule" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#liveSchedule" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
            <div class="w-100 border-top pt-2 pb-4">
                <h5 class="capitalize bold">Videos</h5>
                <div class="row">
                    <div class="col">
                        <videos-card></videos-card>
                    </div>
                    <div class="col">
                        <videos-card></videos-card>
                    </div>
                    <div class="col">
                        <videos-card></videos-card>
                    </div>
                </div>
               
            </div>
            <div class="w-100 border-top pt-2 pb-4">
                <h5 class="capitalize bold">Top <span class="text-primary">Show</span></h5>
                <div class="row">
                    <div class="col">
                        <h6 class="title">1.Lorem Ipsum Dolor Sit Amet</h6>
                    </div>
                    <div class="col">
                        <h6 class="title">2.Lorem Ipsum Dolor Sit Amet</h6>
                    </div>
                    <div class="col">
                        <h6 class="title">3.Lorem Ipsum Dolor Sit Amet</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="
        col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <div class="w-100 border-top pt-2">
                <h5 class="capitalize bold">News</h5>
                <news-card></news-card>
                <news-card></news-card>
                <news-card></news-card>
            </div>
        </div>
    </div>
</div>