.chat-timeline{
    scroll-behavior: smooth;
    height: 50vh;
    padding: 8px 14px 8px 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    .chat-bubble{
        margin-bottom: 8pt;
        .profile{
            height: 24pt;
            width: 24pt;

            overflow: hidden;
            border-radius: 12pt;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .chat-content{
            padding: 6px;
            color: #637280;
            font-size: 14px;
            margin: 4pt;
            margin-left: 12pt;
            margin-right: 12pt;
            word-break: break-word;  
            background-color: #FFFFFF;
        }
    }
}