<header></header>
<div class="p-3">
    <div class="row mb-3">
        <div class="col-9 p-0">
            <h5 class="capitalize bold">Live-<span class="text-primary">now</span></h5>
            <div class="bg-light-gray">
                <img src="/assets/pictures/placeholder/video.jpg">
            </div>
        </div>
        <div class="col-3">
            <div class="bg-green white capitalize bold p-1">
                <h5>live chat</h5>
            </div>
            <div class="bg-light-gray" style="height: 50vh;">
                sdkjhsdhkj
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 pl-0">
            <div class="w-100 border-top pr-3">
                aaa
            </div>
        </div>
        <div class="col-4 pl-0">
            <div class="w-100 border-top">
                sddss
            </div>
        </div>
    </div>
</div>