<div class="row mb-3">
    <div class="col-12 col-sm-12 col-md-9 col-lg-9 pb-3">
        <h5 class="capitalize bold">Live-<span class="text-primary">now</span></h5>
        <div class="bg-light-gray">
            <img style="width: 100% !important;" src="/assets/pictures/placeholder/video.jpg">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 h-100">
        <div class="bg-green white capitalize bold p-1">
            <h5>live chat</h5>
        </div>
        <div class="bg-light-gray chat-timeline" id="chatTimeline">

            <div *ngFor="let item of chat; let i = index">
                <div *ngIf="item.type =='other'; else you">
                    <div class="chat-bubble row">
                        <div class="col-auto pr-0 pt-1">
                            <div class="profile">
                                <img src="https://previews.123rf.com/images/kritchanut/kritchanut1406/kritchanut140600093/29213195-male-silhouette-avatar-profile-picture.jpg">
                            </div>
                        </div>
                        <div class="col chat-content">
                            {{item.msg}}
                        </div>
                    </div>
                </div>
            
                <ng-template #you>
                    <div class="chat-bubble row">
                        <div class="col chat-content">
                            {{item.msg}}
                        </div>
                        <div class="col-auto pt-1 pl-0">
                            <div class="profile">
                                <img src="https://previews.123rf.com/images/kritchanut/kritchanut1406/kritchanut140600093/29213195-male-silhouette-avatar-profile-picture.jpg">
                            </div>
                        </div>
                    </div>
                </ng-template>

            </div>

        </div>
        <div class="bg-light-gray p-2">
            <textarea class="form-control border-0" rows="3"
            [(ngModel)]="msgVal" placeholder="Ketik disini..." ></textarea>
            <div class="bg-white text-right p-2">
                <img src="/assets/pictures/icons/send.png" 
                style="cursor: pointer" class="icon"
                (click)="msgVal? sendChat(): null">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="
    col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <div class="w-100 border-top pt-2 pb-4">
            <h5 class="capitalize bold">Live-<span class="text-primary">Schedule</span></h5>
            <div class="carousel slide" style="height: 150pt !important; overflow: hidden">
                <ng-image-slider #nav
                [infinite]="true"
                [autoSlide]="{interval: 5, stopOnHover: true}"
                [imagePopup]="false"
                [manageImageRatio]="false"
                [imageSize]="{width: '100%', height: '200pt'}"
                [showArrow]="false"
                (imageClick)="redirect($event)"></ng-image-slider>

                <a class="carousel-control-prev" (click)="prev()">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" (click)="next()">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="w-100 border-top pt-2 pb-4">
            <h5 class="capitalize bold">Videos</h5>
            <div class="row">
                <videos-card *ngFor="let item of videos"
                [data]="item"
                class="p-0 col-12 col-sm-4 col-lg-4 col-xl-4"></videos-card>
            </div>
            
        </div>
        <div class="w-100 border-top pt-2 pb-4">
            <h5 class="capitalize bold">Top <span class="text-primary">Show</span></h5>
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                    <h6 class="title">1.Lorem Ipsum Dolor Sit Amet</h6>
                </div>
                <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                    <h6 class="title">2.Lorem Ipsum Dolor Sit Amet</h6>
                </div>
                <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                    <h6 class="title">3.Lorem Ipsum Dolor Sit Amet</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="
    col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <div class="w-100 border-top pt-2">
            <h5 class="capitalize bold">News</h5>
            <news-card [data]="item" *ngFor="let item of news"></news-card>
        </div>
    </div>
</div>
