<div class="row">
    <div class="col-2">

    </div>
    <div class="col-10 ">
        <div class="row border-bottom">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-6">
                Radio Sinfoni 107.8 FM 
                UIN Mataram
            </div>
            <div class="col-sm-6 col-md-5 col-lg-5 col-xl-4 cristalistic">
               The Voice of Campus
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <div class="row">
                    <div class="col">
                    T F I
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Sign Up
                    </div>
                    <div class="col">
                        Login
                    </div>
                </div>
             </div>
        </div>
        
        <div class="row">
            <div class="col">
                Home
            </div>
            <div class="col">
                Live-show
            </div>
            <div class="col">
                Videos
            </div>
            <div class="col">
                News
            </div>
            <div class="col">
                FAQ
            </div>
            <div class="col">
                Contact
            </div>
        </div>
    </div>
</div>