<div class="row" *ngIf="this.state > 1; else smallNav">
    <div class="col-auto d-flex align-items-center company-logo-wrapper">
       <div class="company-logo">
            <img src="/assets/pictures/logo/logo_x2.png">
       </div>
    </div>
    <div class="col m-1 pt-1">
        <div class="row pb-2">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-6 title">
                Radio Sinfoni 107.8 FM 
                UIN Mataram
            </div>
            <div class="col-sm-6 col-md-5 col-lg-5 col-xl-3 cristalistic">
               The Voice of Campus
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div class="row">
                    <div class="col">
                    T F I
                    </div>
                </div>
                <div class="row">
                    <div class="col bold">
                        Sign Up
                    </div>
                    <div class="col bold">
                        Login
                    </div>
                </div>
             </div>
        </div>
        
        <div class="row pt-2 ml-1 border-top">
            <div class="col" *ngFor="let item of links">
                <div class="lnk"
                [ngClass]="{'active': this.router.url.includes(item.value)}"
                (click)="nav(item)">
                    {{item.name}}
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #smallNav>
    <div class="row m-0 p-0" style="position: relative;">
        <div class="col-auto d-flex align-items-center company-logo-wrapper">
           <div class="company-logo">
                <img src="/assets/pictures/logo/logo_x2.png">
           </div>
        </div>
        <div class="col w-100 mr-3 pr-0">
            <div class="row p-3">
                <div class="col-8 p-0 title align-self-center">
                    Radio Sinfoni 107.8 FM 
                    UIN Mataram
                </div>

                <div class="col-4 pr-0 text-right">
                    <button class="btn btn-primary" (click)="toggle()">
                        Menu
                    </button>
                </div>
            
            </div>
        </div>
    </div>
</ng-template>

<div class="menu-container" [@menu]="opened? 'open': 'closed'" [hidden]="this.state > 1">
    <div class="row w-100 h-100">
        <div class="col-9 d-flex align-items-center p-3">
            <ul>

                <li class="lnk" *ngFor="let item of links"
                [ngClass]="{'active': this.router.url.includes(item.value)}"
                (click)="nav(item)">
                    {{item.name}}
                </li>

                <li class="lnk mt-4">
                    Sign Up
                </li>
                <li class="lnk">
                    Login
                </li>
            </ul> 
    
        </div>
        
        <div class="col-3 pt-3 pr-0 text-right">
            <button class="btn btn-primary" (click)="toggle()">Close</button>
        </div>


    </div>


</div>