@import '../../assets/scss/color.scss';

@font-face {
    font-family: cristalistic;
    src: url(../../assets/fonts/cristalistic.ttf) format("truetype");
}

.cristalistic{
    font-family: cristalistic;
    font-size: 32px;
}

.company-logo-wrapper{
    background-color: $primary-accent;
    min-height: 85pt;
    width: 85pt;
    padding: 5pt 5pt 5pt 5pt;

    .company-logo{
        margin: auto;
        height: 75pt;
        width: 75pt;
        img{
            height: 100%;
            width: 100%;
        }
    }
}


.title{
    text-transform: uppercase;
    font-family: av-nxt-demi;
    font-size: 22px;
}

.lnk{
    cursor: pointer;
    padding-left: 4pt;
    padding-right: 4pt;
    font-family: av-nxt-bold;
    width: fit-content;
}

.lnk.active{
    padding-bottom: -4px ;
    border-bottom: 4px solid $primary;
}

.lnk:hover{
    padding-bottom: -4px;
    border-bottom: 4px solid $primary;
}

.menu-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left: 0;
    background-color: #000000C0 !important;
    overflow: hidden;

    ul{
        margin: auto;
        color: #FFFFFF;
        font-size: 20pt;
        li{
            padding-top: 0;
            list-style: none;
        }
    }
}