<h5 class="capitalize bold">Live-<span class="text-primary">Show</span></h5>
<app-load-skeleton *ngIf="flags.isLoading; else doneLoading"></app-load-skeleton>

<ng-template #doneLoading>
    <div class="row">
        <div class="
        col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
            <div class="mb-3 card" *ngFor="let item of listOfLiveShows | slice : 0: slice ; let i = index"
            (click)="playVideo(i)">
                <img *ngIf="!item.play" [src]="'https://developergadogado.xyz/mantapp/'+item.image" (click)="item.play=true">

                <iframe *ngIf="item.play" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                playsinline [src]="item.videolink" frameborder="0" allowfullscreen>
                </iframe>    

            </div>
            <a>
                <h6 class="bold text-right"
                [hidden]="slice >= this.listOfLiveShows.length" (click)="addLimit()">More ></h6>
            </a>
        </div>
    </div>
</ng-template>