/* You can add global styles to this file, and also import other style files */
@import './assets/scss/color.scss';
@import './assets/scss/override.scss';
@import './assets/scss/theme.scss';
@import './assets/fonts/font.scss';

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

html{
  overflow-x: hidden;
}

body{
  font-family: av-nxt !important;
}

header{
  width: 100% !important;
}
@import "node_modules/bootstrap/scss/bootstrap";