<h5 class="capitalize bold">Videos</h5>
<app-load-skeleton *ngIf="flags.isLoading; else doneLoading"></app-load-skeleton>

<ng-template #doneLoading>
    <div class="row pb-3" *ngFor="let item of listOfVideos | slice : 0: slice">
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
            <div class="mb-2 card">
                <img [src]="imgPrefix+item.image">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <div class="title">
                {{item.title}}
        </div>
        <div class="subtitle">
                by Radio Simfoni |  {{item.datetime | date:'mediumDate'}}
            </div>
            <div class="content pb-2 news-description" [innerHTML]="sanitizedInnerHtml(item.content)">
            </div>
            <a class="text-primary caption" routerLink="/videos/detail/{{item.id}}">
                <a>selengkapnya ></a>
            </a>
        </div>
    </div>
    <a>
        <h6 class="bold text-right" [hidden]="slice >= this.listOfVideos.length" (click)="addLimit()">More ></h6>
    </a>
</ng-template>