
<div class="row">
    <div class="col-6 offset-3 pb-3">
        <h5 class="capitalize bold text-center border-bottom">FAQ</h5>
    </div>
</div>

<div class="container-fluid text-justify">
    <p class="mb-4">
        <span class="firstcharacter">S</span>
        infoni hadir di ruang denga kreasi muda FM 107,8 MHz : 
        <i>
            The Voice of Campus. 
        </i>
        Sinfoni merupakan Radio Komunitas kampus Universitas Islam Negeri Mataram.
        Namun, telah menarik perhatian masyarakat sekitar, dengan terus berkerjasama dengan kegiatan lokal maupun kegiatan yang diselenggarakan oleh kampus UIN Mataram sehingga memungkinkan Radio Sinfoni akan terus berkembang.
        Dengan itu menjadikan UIN Mataram kembali menjadi salah satu kampus yang menyediakan sarana pengembangan bakat di bidang penyiaran atau broadcasting.
    </p>
</div>