
<div class="row">
    <div class="col-6 offset-3 pb-3">
        <h5 class="capitalize bold text-center border-bottom">FAQ</h5>
    </div>
</div>

<div class="row">
    <div class="col-12 pb-3 text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Natoque penatibus et magnis dis parturient montes nascetur ridiculus. Vestibulum lorem sed risus ultricies tristique nulla. Lacinia at quis risus sed vulputate odio. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Nulla pellentesque dignissim enim sit amet. Quis varius quam quisque id diam. Sit amet porttitor eget dolor morbi non arcu risus. Nibh sed pulvinar proin gravida hendrerit. Fames ac turpis egestas maecenas pharetra convallis posuere. Arcu ac tortor dignissim convallis aenean et tortor at risus. Sed odio morbi quis commodo odio aenean sed adipiscing diam. Turpis egestas zsed tempus urna et pharetra pharetra massa massa. Id aliquet lectus proin nibh nisl condimentum id 
    </div>
</div>